<!DOCTYPE html>
<html>
<head>
    <title>Book Review</title>
    <link ref="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <center>
        <h2>Welcome to Book Reviews</h2>
        <a href="/">Book Reviews</a>
        <br><br><br><br>
        <hr>
    </center>

    <form action="/review/create" id="reviewform" method="POST">
        <div>
            <label>Author</label>
            {{ with .ErrorsFromForm.author }}
                <label class="error">{{ . }}</label>
            {{end}}
            <br>
            <input type="text" name="author_name" value="{{ .FormData.Get "author_name"}}">
            <br>
            <label>Book Name</label><br>
            <input type="text" size="20" name="book_name">
            <br><br>
        </div>
    <div>
        <label>Review</label><br>
        <textarea cols="50" rows="8" form="reviewform" name="review"></textarea>
    </div>
    <br>
    <div>
        <input type="submit" value="Submit">
    </div>
    </form>
    <hr>
    <footer>
        <p>
            <a htref="mailto:rsma@ub.edu.bz">rsma@ub.edu.bz</a>
        </p>
    </footer>
</body>
</html>